# macOS
.DS_Store

# Xcode user state
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# Build products
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# Editors
.vscode/
.idea/
